//
//  .gitignore
//  MemoryCollage
//
//  Created by Gaurav Kumar on 1/28/25.
//

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/
xcshareddata/
# The Swift tree ignores shared Xcode data. The Flutter runner scheme still ships.
!memory_book/ios/Runner.xcodeproj/xcshareddata/
!memory_book/ios/Runner.xcodeproj/xcshareddata/xcschemes/
!memory_book/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Flutter rebuild (memory_book)
.tools/
memory_book/.dart_tool/
memory_book/.flutter-plugins
memory_book/.flutter-plugins-dependencies
memory_book/.packages
memory_book/build/
memory_book/.idea/
**/*.iml
memory_book/ios/Pods/
memory_book/ios/.symlinks/
memory_book/ios/Flutter/ephemeral/
memory_book/ios/Flutter/Generated.xcconfig
memory_book/ios/Flutter/flutter_export_environment.sh
memory_book/ios/**/xcuserdata/
memory_book/ios/Flutter/Flutter.framework
memory_book/ios/Flutter/Flutter.podspec
memory_book/android/.gradle/
memory_book/android/local.properties

# Memory Book API and marketing site
services/api/.venv/
**/__pycache__/
services/api/.pytest_cache/
services/api/.env
**/.aws-sam/
apps/web/node_modules/
apps/web/.next/
apps/web/.vercel/
apps/web/.env.local

